<div class="nes-container with-title main-form">
  <h2 class="title"><%= "小目標の登録" %></h2>
  <%# 本ページの説明 %>
  <div class="instruction">
    <%= render partial: "shared/ash_talk", locals: {talk_content: "ここでは、目標を達成する通過点の目標や、できるようになったことを登録していこう！"} %>
  </div>
  <%# /本ページの説明 %>
  <%# 小目標入力フォーム %>
  <%= form_with model: @small_target, url: target_small_targets_path(@target), method: :post, local: true, class: "input-form" do |f| %>
    <%= render partial: "shared/small_target_form", locals: {f: f} %>
  <% end %>
  <%# /小目標入力フォーム %>
  <div class="message-list">
    <i class="nes-ash"></i>
    <div class="nes-balloon from-left">
      <%= link_to "目標の表示画面に戻る？", target_path(@target) %>
    </div>
  </div>
</div>